    body {
        font-family: 'Open Sans';
    }

    .content {
        margin: auto;
        max-width: 900px;
    }

    div.start {
        display: inline-block;
        vertical-align: top;
        width: 72px;
        background-color: rgb(165, 252, 247, 0.4);
        padding-left: 8px;
    }

    div.startOddIndent {
        display: inline-block;
        vertical-align: top;
        width: 72px;
        background-color: rgb(135, 206, 250, 0.4);
        padding-left: 8px;
    }

    div.bidtable {
        width: 900px;
    }

    div.bidtable ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    div.bidtable li ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 80px;
    }

    .ccolor {
        color: DarkBlue
    }

    .dcolor {
        color: Orange
    }

    .hcolor {
        color: Red
    }

    .scolor {
        color: Black
    }

    a:link {
        text-decoration: none;
    }

    .top-link {
        z-index: 99;
        position: fixed;
        bottom: 5%;
        left: 95%;
    }
